<!-- TODO have manufacturer and category selected when editing item -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <form action="<%=route%>" method="POST">
      <label for="instrument">Instrument: </label>
      <input
        value="<%=instrument%>"
        type="text"
        id="instrument"
        name="instrument"
      />
      <label for="quantity">Quantity: </label>
      <input value="<%=quantity%>" type="text" id="quantity" name="quantity" />
      <label for="price">Price: </label>
      <input value="<%=price%>" type="text" id="price" name="price" />
      <label for="manufacturer">Manufacturer: </label>
      <select id="manufacturer" name="manufacturer">
        <option value="">--Please choose an option--</option>
        <% manufacturerList.forEach(({manufacturer})=>{%>
        
        
        <option
          <% if (manufacturer === selectedManufacturer){%>
          selected="selected"
          <%}%>
          value="<%=manufacturer%>"
        >
          <%=manufacturer%>
        </option>
        <% })%>
      </select>
      <label for="category">Category: </label>
      <select id="category" name="category">
        <option value="">--Please choose an option--</option>
        <% categoryList.forEach(({category})=>{%>
        <option
        <% if (category===selectedCategory){ %>
          selected="selected"
        <%}%>
          value="<%=category%>"
        >
          <%=category%>
        </option>
        <% })%>
      </select>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Go Home</a>
  </body>
</html>
